<template>
    <div id="vue-home">

        <div class="page-title">
            <h3 class="breadcrumb-header">Welkom, {{ user.name }}!</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-white stats-widget">
                        <div class="panel-body">
                            <div class="pull-left">
                                <span class="stats-number">17</span>
                                <p class="stats-info">Tot je centrale theorie examen!</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-white stats-widget">
                        <div class="panel-body">
                            <div class="pull-left">
                                <span class="stats-number">43 keer</span>
                                <p class="stats-info">geoefent met leerpakketten</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-white stats-widget">
                        <div class="panel-body">
                            <div class="pull-left">
                                <span class="stats-number">77%</span>
                                <p class="stats-info">Kans op slagen voor het theorie</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-white stats-widget">
                        <div class="panel-body">
                            <div class="pull-left">
                                <span class="stats-number">23</span>
                                <p class="stats-info">Dagen tot licentie eindigt</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- Row -->

            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Mijn progressie</h4>
                        </div>
                        <div class="panel-body">
                            <div class="task-list">
                                <div class="task-item">
                                    <span class="task-name">Verkeersregels</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar" data-value="90" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="task-item">
                                    <span class="task-name">Verkeersinzicht</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar" data-value="45" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                            <span class="sr-only">10% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="task-item">
                                    <span class="task-name">Verkeersborden</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar" data-value="75" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="task-item">
                                    <span class="task-name">Gevaarherkenning</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar" data-value="25" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                            <span class="sr-only">100% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="task-item">
                                    <span class="task-name">Overige kennis</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar"data-value="60"  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            <span class="sr-only">100% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Theorie-examen doen</h4>
                        </div>
                        <div class="panel-body">
                            <p>Zorg dat je ongeveer een kwartier van tevoren aanwezig bent op het examencentrum. Vergeet hierbij niet je geldig identiteitsbewijs en je reserveringsnummer mee te nemen, deze heb je via de mail ontvangen. Het theoretisch examen wordt in 2 delen opgesplitst:</p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Deel</th>
                                    <th>Onderwerp</th>
                                    <th>Vragen</th>
                                    <th>Minimaal correct</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Gevaarherkenning</td>
                                    <td>25</td>
                                    <td>13</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Verkeersregels en verkeersinzicht</td>
                                    <td>40</td>
                                    <td>35</td>
                                </tr>
                                </tbody>
                            </table>
                            <p>Voor het hele examen heb je 30 minuten de tijd. Zorg dus dat je genoeg tijd maakt om te leren voor je theorie. Door goed te oefenen voor je theorie-examen moet je altijd kunnen slagen.</p>
                        </div>
                    </div>
                </div>
            </div><!-- Row -->

        </div><!-- Main Wrapper -->
    </div>
</template>
<script>
    export default {
        props: ['user'],
        data() {
            return {
                exams: {},
            }
        },
        mounted() {
            /* Check user progressions */
            $('[data-toggle="tooltip"]').tooltip();
            $('.progress-bar').each(function() {
                if($(this).data('value') >= 75){
                    $(this).css('background-color', '#8bc34a');
                    $(this).closest('.task-item').find('.task-name').append('<i data-toggle="tooltip" data-placement="right" title="Voldoende" class="fa fa-check"></i>');

                }
            });

            axios.get('/api/exams')
                .then(response => {
                    this.exams = response.data
             });
        },
    }
</script>
