<template>
    <div>
        <div class="page-title">
            <h3 class="breadcrumb-header">Gevaarherkenning oefenexamen</h3>
        </div>
        <div id="main-wrapper">

            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="panel panel-white panel-left">
                        <div class="col-lg-6 col-md-6 panel-heading-col">
                            <div class="panel-heading">
                                <h4 class="panel-title">Afbeelding</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 panel-heading-col">
                            <div class="panel-heading">
                                <h4 class="panel-title timer"></h4>
                            </div>
                        </div>

                        <div class="panel-body questionimage">
                           <img data-featherlight="https://www.theorieexamenoefenen.nl/assets/img/products/motor/oefenen1-v2.jpg" class="question_img" width="100%" height="100%;" src="https://www.theorieexamenoefenen.nl/assets/img/products/motor/oefenen1-v2.jpg"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="panel panel-white panel-right">

                        <form ref="form">
                            <div v-for="(question, index) in exam.questions">
                                <div v-show="index === questionIndex" class="vraagitem">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Vraag {{ index + 1 }}</h4>
                                    </div>
                                    <div class="panel-body">
                                        <h3 class="quiztitle">{{ question.title }}</h3><br/>
                                        <div class="form-group"  v-for="(choice, choice_index) in question.choices">
                                            <label><input type="radio" :value="choice_index" v-model="selectionIndex" :name="'choice_' + index">{{ choice.choice }}</label><br>
                                        </div>
                                        <pre>{{ selection }}</pre>
                                    </div>
                                </div>
                            </div>
                            <div v-show="questionIndex < questionTotal" class="question-nav">
                                <button v-show="questionIndex > 0" type="button" v-on:click="prev" class="btn btn-default">Vorige vraag</button>
                                <button v-show="questionIndex < questionTotal - 1" type="button" v-on:click="next" class="btn btn-default">Volgende vraag</button>
                                <button v-show="questionIndex === questionTotal - 1" type="submit" v-on:click.prevent="finished(data)" class="btn btn-default">Afronden</button>
                            </div>
                        </form>
                        <div v-show="questionIndex === questionTotal">
                            {{ index = 'Resultaat' }}
                        </div>

                    </div>
                </div>
            </div><!-- Row -->

        </div><!-- Main Wrapper -->
    </div>
</template>
<script>
    export default {
        data() {
            return {
                exam: {},                               /* Exam array */
                questionTotal: null,
                questionIndex: 0,                       /* Current display question */
                selectionIndex: null,                   /* Current selected choice */
                buttonValue: 'Volgende vraag',          /* Volgende button value  */
            }
        },
        mounted() {
            // get exam quiz from api and put data in exam array
            axios.get('/api/exams/1')
                .then(response => {
                    this.exam = response.data;
                    this.questionTotal = response.data.questions.length;
                });
        },
        computed: {
            selection() {
                // return current choice selection
                return this.exam.questions[this.questionIndex].choices[this.selectionIndex] || null;
            }
        },
        methods: {
            next: function() {
                if(this.validate()){
                    alert('Correct'); // if choice is correct
                }else {
                    alert('Incorrect'); // if choice is incorrect
                }
                this.questionIndex++; // display next question
            },
            prev: function() {
                this.questionIndex--; // display previous question
            },
            validate: function(){ // check if answer is correct
                let answer = this.selection; // get current selected option
                return answer.correct; // return collect boolean true or false
            },
            finished: function(data){
                this.questionIndex++;

                axios.post('/api/exams/1/process', { data: data })
                    .then(response => {
                        this.exam = response.data
                    });
            }


        }
    }
</script>
