
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Font awesome
@import '~font-awesome/scss/font-awesome';

// Variables
// @import "variables";

// Bootstrap
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
